[Unit]
Description=Monitor Bluetooth Temperature

[Service]
Type=simple
WorkingDirectory=/opt/bluetooth-temp-monitor
ExecStart=/opt/bluetooth-temp-monitor/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
